body{
  background-color: #2C3E50;
  overflow: hidden;
}

.digitalClock{
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0;
  font-family: 'Roboto', sans-serif;
}

.digital{
  text-align: center;
  width: 33%;
  font-size: 200px;
}
.second{
  position: absolute;
  left: 66%;
  color: #222;
}
.secondNodes{
  fill: #222;
  /*stroke: #1B1B1B;*/
  /*stroke-width: 2px;*/
}

.minute{
  position: absolute;
  left: 33%;
  color: #E74C3C;
}
.minuteNodes{
  fill: #E74C3C;
  /*stroke: #B23B2E;*/
  /*stroke-width: 3px;*/
}

.hour{
  position: absolute;
  left: 0%;
  color: #ECF0F1;
  float: left;
}
.hourNodes{
  fill: #ECF0F1;
  /*stroke: #AEB1B1;*/
  /*stroke-width: 3px;*/
}

.svg{
  position: absolute;
  left: 0;
  top: 0;
  background-color: none;
}