body{
  background-color: #DBFFFF;
}
div{
  margin-top: 5%;
}

path {
  stroke-width: 5px;
  opacity: 0.2;
}

.svg2{
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

/*circle {
  fill: none;
  pointer-events: none;
}*/

.digitalClock{
  /*background-color: #c7c7c7;*/
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
<<<<<<< HEAD
  /*font-family: Tahoma, Geneva, sans-serif*/
=======
  font-family: 'Roboto', sans-serif;
>>>>>>> f1c79c1cb844e49cfb91c688ba30861610b06b33
}

.second{
  color: #843c39;
  float: right;
  margin-right: 2%;
}
.seconds{
  stroke: white;
  fill: #843c39;
}

.minute{
  color: purple;
<<<<<<< HEAD
  margin-left: 34%;
=======
  margin-left: 32%;
>>>>>>> f1c79c1cb844e49cfb91c688ba30861610b06b33
}
.minutes{
  stroke: pink;
  fill: purple;
}

.hour{
  color: teal;
  float: left;
  margin-left: 2%;
}
.hours{
  stroke: yellow;
  fill: teal;
}

.canvas{
  background-color: none;
}

.node{
  stroke-width: 2px;
}