body{
  background-color: none;
}

.digitalClock{
  /*background-color: #c7c7c7;*/
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.digital{
  font-size: 100px;
  /*color: #843c39;*/
  /*margin-right: 11.5%;
  margin-left: 11.5%;*/
}
.second{
  color: #843c39;
  float: right;
  margin-right: 2%;
}

.minute{
  color: #9467bd;
  margin-left: 35%;
}
.hour{
  color: #17becf;
  float: left;
  margin-left: 2%;
}
.canvas{
  background-color: none;
}

.node{
  stroke: black;
  stroke-width: 1.5px;
}